<% layout('layouts/boilerplate')%>

    <h2 class="text-center text-white fs-1 mt-4">Register</h2>
    <div class="card w-50 m-auto mt-4 bg-dark text-white">
        <div class="card-body">
            <form action="/register" method="POST" class="validated-form" novalidate>
                <div class="mb-3">
                    <input placeholder="Username" class="form-control rounded-pill fs-5" type="text" id="username"
                        name="username" required autofocus>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <input placeholder="Email" class="form-control rounded-pill fs-5" type="email" id="email"
                        name="email" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <input placeholder="Password" class="form-control rounded-pill fs-5" type="password" id="password"
                        name="password" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="d-flex w-100 justify-content-center mt-5">
                    <button class="btn btn-lg btn-success rounded-pill w-50">Register</button>
                </div>
            </form>
        </div>
    </div>